
  
  /* Facebook */
  .loginBtn--facebook {
	background-color: #4C69BA;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	/*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
	text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
	/* border-right: #364e92 1px solid; */
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
	background-color: #5B7BD5;
	background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  .article p {
	font-family: Montserrat;
	font-size: 18px;
	}
	


	/* Editor */

	.RichEditor-root {
		background: #fff;
		/* border: 1px solid #ddd; */
		font-family: 'Georgia', serif;
		font-size: 14px;
		padding: 15px;
	}
	
	.RichEditor-editor {
		border-top: 1px solid #ddd;
		cursor: text;
		font-size: 16px;
		margin-top: 10px;
	}
	
	.RichEditor-editor .public-DraftEditorPlaceholder-root,
	.RichEditor-editor .public-DraftEditor-content {
		margin: 0 -15px -15px;
		padding: 15px;
	}
	
	.RichEditor-editor .public-DraftEditor-content {
		min-height: 100px;
	}
	
	.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
		display: none;
	}
	
	.RichEditor-editor .RichEditor-blockquote {
		border-left: 5px solid #eee;
		color: #666;
		font-family: 'Hoefler Text', 'Georgia', serif;
		font-style: italic;
		margin: 16px 0;
		padding: 10px 20px;
	}
	
	.RichEditor-editor .public-DraftStyleDefault-pre {
		background-color: rgba(0, 0, 0, 0.05);
		font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
		font-size: 16px;
		padding: 20px;
	}
	
	.RichEditor-controls {
		font-family: 'Helvetica', sans-serif;
		font-size: 14px;
		margin-bottom: 5px;
		user-select: none;
	}
	
	.RichEditor-styleButton {
		color: #999;
		cursor: pointer;
		margin-right: 16px;
		padding: 2px 0;
		display: inline-block;
	}
	
	.RichEditor-activeButton {
		color: #5890ff;
	}
	body {
		margin: 0px;
	}
	
	.ais-SearchBox__root {
		max-width: 600px;
		margin: 0 auto;
	}
	
	.MenuAppBar-card-13 {
		width: 600px;
		right: -40px !important;
		position: relative !important;
	}
	footer * {
		color: white !important;
	}
	.MuiListItem-button-225:hover {
		background: white !important;
	}
	.MuiListItem-button-225:hover * {
		color: black !important;
	}

	.ais-SearchBox__input {
		background: rgba(255,255,255,.15);
		border: none;
		box-shadow: none;
		border-radius: 2px;
		min-width: 144px;
		display: flex;
		flex: 1;
		color: white
	}
	.ais-SearchBox__wrapper input::placeholder, .ais-SearchBox__wrapper input::-moz-placeholder, .ais-SearchBox__wrapper input::-webkit-input-placeholder {
		color: white;
	}

	.ais-SearchBox__wrapper input::placeholder {
		color: white;
	}
	.ais-SearchBox__submit svg {
		fill: white;
	}

	.ais-SearchBox__wrapper input:focus {
		background: rgba(255,255,255,.25);
		outline: 2px solid transparent;
		border: 1px solid rgb(224, 224, 224);
	}
	.ais-SearchBox__wrapper input:focus::placeholder, .ais-SearchBox__input:focus {
		color: black;
		
	}
	
	.ais-SearchBox__wrapper input:focus + button>svg {
		fill: black;
		
	}

	body {
		background: #f8f9fa;
	}

	