.dropdown:hover>.dropdown-menu {
  display: block;
}
.second-nav {
	z-index: 99;
}
.card, .carousel .carousel-inner {
	/*box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);*/
	box-shadow: none;
}
.section {
	background: #f8f9fa;
}
.card-img, .card {
	border-radius: 0;
}
.bg-gray {
	background: #e6e6e6;
}
h4, .h4 {
     margin-top: 0px;
}

.card .card-body {
	min-height: auto;
}
.card-img-overlay {
	background: rgba(0,0,0,.5);
}
.navbar-brand img {
	border: 1px solid white;
	border-radius: 20%;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
	color: black;
}

input[type=text]::placeholder {
    color: #555555 !important;
}

 /*Extra small devices (portrait phones, less than 576px)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
/*.ml-5{
	margin-left: 0px !important;
}*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
.fluid-container {
	margin-left: 3rem!important;
	margin-right: 3rem!important;
}
 }

/*// Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/
